@model IEnumerable<OrganicosEmCasa.Models.Categoria>

@{
    ViewBag.Title = "Orgânicos em Casa - Home";
}


<!doctype html>
<html lang="en">
<body>

    <section id="catagorie">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="block">
                        <div class="block-heading">
                            <h2>A LOJA</h2>
                        </div>
                        <div class="row">
                            <div class="caption">
                                A ORGANICOS EM CASA surgiu para fortalecer o laço entre o agricultor orgânicos e o consumidor consciente.
                                Com inovação e tecnologia, geramos mais visibilidade para o campo e acessibilidade para a cidade, incentivando a alimentação saudável, o consumo sustentável e o comércio justo!
                                <br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, aut, esse, laborum placeat id illo a expedita aperiam
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, aut, esse, laborum placeat id illo a expedita aperiam
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, aut, esse, laborum placeat id illo a expedita aperiam
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, aut, esse, laborum placeat id illo a expedita aperiam
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, aut, esse, laborum placeat id illo a expedita aperiam

                            </div>
                        </div>	<!-- End of /.row -->
                    </div>	<!-- End of /.block -->
                </div>
                <div class="col-md-8">
                    <div class="block">
                        <div class="block-heading">
                            <h2>NOSSAS CATEGORIAS</h2>
                        </div>
                        <div class="row">
                            @foreach (var item in Model)
                            {
                                <div class="col-sm-6 col-md-6">
                                    <div class="thumbnail">
                                        <a class="catagotie-head" href="/Produtoes?Categoria=@Html.DisplayFor(modelItem => item.ID)">
                                            <img src="../Content/images/@Html.DisplayFor(modelItem => item.URLImagem)" alt="...">
                                            <h3>
                                                @Html.DisplayFor(modelItem => item.Nome)
                                            </h3>
                                        </a>
                                        <div class="caption">
                                            <p>@Html.DisplayFor(modelItem => item.Descricao)</p>
                                            <p>
                                                <a href="/Produtoes?Categoria=@Html.DisplayFor(modelItem => item.ID)" class="btn btn-default btn-transparent" role="button">
                                                    <span>Ver produtos</span>
                                                </a>
                                            </p>
                                        </div>	<!-- End of /.caption -->
                                    </div>	<!-- End of /.thumbnail -->
                                </div> <!-- End of /.col-sm-6 col-md-6 -->
                            }
                        </div>	<!-- End of /.row -->
                    </div>	<!-- End of /.block -->
                </div>	<!-- End of /.col-md-8 -->
            </div>	<!-- End of /.row -->
        </div>	<!-- End of /.container -->
    </section>	<!-- End of Section -->
 
    <section id="call-to-area">
        <div class="container">
            <div class="row">

            </div> <!-- End Of /.Row -->
        </div> <!-- End Of /.Container -->
    </section>	<!-- End of Section -->
    <!-- FOOTER Start
    ================================================== -->


    <a id="back-top" href="#"></a>
</body>
</html>